<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

	<!-- no Spring, use Guice -->
	<servlet>
		<servlet-name>MyGuiceCXFJsonService</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>
			com.mycom.jaxrs.survey.cxf.MyGuiceCXFJaxrsServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyGuiceCXFJsonService</servlet-name>
		<url-pattern>/cxf_json/*</url-pattern>
	</servlet-mapping>

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>